@import url(https://fonts.googleapis.com/css?family=Lobster&amp;subset=latin-ext);

#jQcontent
{
	margin: 0;
	background-color: #26282E;
    color: #209781;
    font-family: 'Lobster', sans-serif;
    font-size: 28px;
    min-height: 650px;
}

a:link    { color: #209781; text-decoration: none; }
a:visited { color: #209781; }
a:active  { color: #209781; }
a:hover   { color: #E9B64A; }

h1
{
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 5px;
    margin-top: 20px;
    margin-bottom: 0px;
}

p
{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.board
{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.card
{
    width: 129px;
    height: 129px;
    display: inline-block;
    margin: 3px;
    background-image: url("/storage/img/karta.png");
    border: 4px solid #51c8b2;
    border-radius: 2px;
    cursor: pointer;
    filter: brightness(70%);
    transition: all .3s ease-in-out;
}

.card:hover
{
    border: 4px solid #E9B64A;
    filter: brightness(100%);
}

.cardActive
{
    width: 129px;
    height: 129px;
    display: inline-block;
    margin: 3px;
    background-image: url("/storage/img/karta.png");
    border: 4px solid #E9B64A;
    border-radius: 2px;
    cursor: default;
    filter: brightness(100%);
    transition: all .3s ease-in-out;
}
.score
{
    margin-top: 5px;
    letter-spacing: 2px;
}

.restart
{
    color: #bd1c1c;
}