body
{
	background-color: rgb(0, 0, 0);
}

#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#belka
{
	width: 584px;
	height: 44px;
	border: none;
	box-shadow: 0.5px 0.5px 3px 0.5px grey;
}

#gimg
{
	width: 272px;
	height: 201px;
}

#wyszukiwarka
{
	margin-top: 100px;
}

#przycisk
{
	margin-top: 10px;
	widows: 142px;
	height: 36px;
	background-color: rgb(242, 242, 242);
	border: none;
}